<h2>About</h2>
Looking for Group (LFG) is a small web application designed by Cal State Fullerton students as part of their Front-End Web Engineering Class.<br><br>
It's an application meant to be a place to post a group for a game that people can apply to, and then you can just view the applications.
It takes it's name from the common acroynym, LFG (Looking for Group), that's used in MMOs.<br> <br>

{{outlet}}
