<h2>About</h2>
Looking for Group (LFG) is a small web application designed by Cal State Fullerton students as part of their Front-End Web Engineering Class.<br><br>
The Application is meant to be a sort of rough simulation of a party finder type tool that would exist inside of a video game, though it could feasibly be used for meeting groups in any context. It takes it's name from the common acroynym, LFG (Looking for Group), that's used in MMOs.<br> <br>

{{outlet}}
