
<style>
body {
        background-image: url("http://www.designbolts.com/wp-content/uploads/2012/12/simple-pattern-white-seamless-website-background.jpg");
}

</style>
<div class="container">
  {{partial 'navbar'}}
  {{outlet}}
</div>
