<h1>Welcome to Looking For Group!</h1>

{{#link-to 'feed'}}<div class="headLink"><h2>Feed</h2></div>{{/link-to}}
This is where you go if you're searching for groups to join.

{{#link-to 'look'}}<div class="headLink"><h2>Look</h2></div>{{/link-to}}
Look is where you go if you're looking to post a group for others to join.

{{#link-to 'my_groups'}}<div class="headLink"><h2>My Groups</h2></div>{{/link-to}}
This is where you would go if you want to view the groups that you've posted.

{{#link-to 'applications'}}<div class="headLink"><h2>Check Applications</h2></div>{{/link-to}}
Head here to check out applications of people who want to join your group!


{{outlet}}
