<form {{action 'signUp' on='submit'}}>
  {{input value=newName placeholder='Name'}}<br><br>
  {{input value=newPass placeholder='Password' type='password'}}<br><br>
  <button type="submit">Sign Up</button>
</form>
